<div class="row mt-5">
  <div class="col">
    <div class="card text-center">
      <h5 class="card-header">Create Courses</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">See Courses</a>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <div class="card text-center">
      <h5 class="card-header">Log Rounds</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">See Rounds</a>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <div class="card text-center">
      <h5 class="card-header">Track Stats</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Sign Up</a>
      </div>
    </div>
  </div>
</div>
