<h1 class="mt-5 mb-4 text-center">StatCaddie</h1>
<div class="row justify-content-center text-center">
  <div class="col-sm-6">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Create Courses</h5>
        <p class="card-text">Create your own courses or use coures others have already created</p>
        <%= link_to "See courses", courses_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Log Rounds</h5>
        <p class="card-text">Save detailed scorecards for rounds you've played</p>
        <%= link_to "See rounds", courses_path, class: "btn btn-success" %>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Track Stats</h5>
        <p class="card-text">Keep track of stats based on the rounds, tees, holes and courses you've played</p>
        <%= link_to "See stats", stats_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
