<ul class="list-group list-group-flush text-center mt-2" style="width: 11%">
  <li class="list-group_item list-group-item-secondary p-2"><%= f.text_field :hole_number %></li>
  <li class="list-group_item p-1"><%= f.text_field :hole_number %></li>
  <li class="list-group-item p-1"><%= hole.yardage %></li>
  <li class="list-group-item p-1"><%= hole.par %></li>
</ul>
